.column-layout{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-l);
    width: 100%;
}
.column-label{
    padding: var(--spacing-xxxl) 0 var(--spacing-l) 0;
}


@media (max-width: 768px) {
    .column-layout {
        grid-template-columns: 1fr;
    }
}